<!DOCTYPE html>
<html ng-app>
<head>
<title>Agular Js Page 1</title>
<link rel="stylesheet" href="../css/bootstrap.min.css" />
<script src='../js/angular.min.js'></script>
</head>
<body>
	<h2>Agular Js - Repeat Function of Array</h2>
	<!-- {{}} this is an anguler expression-->
	<div class="container"  ng-init="data=[100,200,300]">
		{{data}}
		{{10+30+data}}

		<div class="clearfix"></div>
		<ul>
			<li>{{data[0]}}</li>
			<li>{{data[1]}}</li>
			<li>{{data[2]}}</li>
		</ul>

		<ul>
			<li ng-repeat="ans in data">
				{{ans}}
			</li>
		</ul>

		<ul>
			<li ng-repeat="(key,ans) in data">
				{{key + "==" + ans}}
			</li>
		</ul>

	</div>

	<h2>Agular Js - Repeat Function of Object</h2>

<div class="container"  ng-init="dataObj={name:'Ajay',age:'20',sub:'Angular'}">
		{{dataObj}}

		<div class="clearfix"></div>

		<ul>
			<li>{{dataObj.name}}</li>
			<li>{{dataObj.age}}</li>
			<li>{{dataObj.sub}}</li>
		</ul>

		<ul>
			<li ng-repeat="ans in dataObj">
				{{ans | uppercase}}
			</li>
		</ul>

		<ul>
			<li ng-repeat="(key,ans) in dataObj">
				{{key + "==" + ans | lowercase}}
			</li>
		</ul>

	</div>



	<script>
		
	</script>
</body>
</html>